--find-links  https://download.pytorch.org/whl/torch_stable.html 
Flask
gunicorn
fastai==2.7.7
flask_cors
Pillow==8.4.0
numpy
icevision[all]==0.12.0
torch==1.10.0+cpu
torchvision==0.11.1+cpu
mmcv-full==1.3.17
mmdet==2.17.0
eventlet